---
# Enable ALL the things! Except not really
# misc-non-private-member-variables-in-classes: the options don't do anything
# modernize-use-nodiscard: too aggressive, attribute is situationally useful
Checks: "cppcoreguidelines-*, clang-analyzer-*"
CheckOptions:
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreAllFloatingPointValues
    value: true
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: true
HeaderFilterRegex: ""
FormatStyle: none